{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block head_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock head_javascript %}

{% block configured_body_contents %}
    {{ parent() }}
<script>document.addEventListener('DOMContentLoaded', (event) => {
        console.log(greeter.greet("david scukaaa"));
    })</script>
{% endblock %}